[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=2.2.0"
torchvision = ">=0.17.0"
numpy = ">=1.26.4"
pandas = ">=2.2.1"
matplotlib = ">=3.8.3"
seaborn = {version = ">=0.13.2", extras = ["stats"]}
tensorboard = ">=2.16.2"
psutil = ">=5.9.8"
pymongo = ">=4.6.1"
psycopg2-binary = ">=2.9.9"
pyyaml = ">=6.0.1"
tqdm = ">=4.66.2"

[dev-packages]
pytest-cov = "*"
isort = ">=5.13.2"
pylint = ">=3.0.3"
pre-commit = ">=3.6.2"
pytest = "*"

[requires]
python_version = "3.12"

[scripts]
test = "python -m pytest"
lint = "pylint src tests"
sort = "isort ."
